.Field {
  width: 33%;
  height: 33%;
  float: left;
  transform: scale(.95, .95);
  transition: background 0.2s ease;
  background: #333;
}

.Field:hover {
  animation: pulsate infinite .8s ease-in-out;
}

.Field.is-player-1 {
  transform: scale(.9, .9);
  background: #64CEAA;
}

.Field.is-player-2 {
  transform: scale(.9, .9);
  background: #FD6C6C;
}
