:root {
  --header-height: 4rem;
  --footer-height: 2rem;

  --without-header-footer: var(--header-height) - var(--footer-height);
  --board-size: calc(100vmin - var(--without-header-footer));
}

body {
  margin: 0;
  padding: 0;

  background: #ccc;
}

header {
  line-height: var(--header-height);
  font-size: 3rem;
  text-align: center;
}

footer {
  line-height: var(--footer-height);
  text-align: center;
}

@keyframes pulsate {
  0%, 100% {
    transform: scale(.95, .95);
  } 50% {
    transform: scale(.9, .9);
  }
}